@using MvcStok.Models.Entitiy;
@using PagedList;
@using PagedList.Mvc;

@model  PagedList.IPagedList<TBL_KATEGORİLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<table class=" table table-bordered">
    <tr>

        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
        <tr>
            <th>@ktgr.KATEGORID</th>
            <td>@ktgr.KATEGORİAD</td>
            <td><a href="/Kategori/Sil/@ktgr.KATEGORID" class=" btn btn-danger">SİL</a></td>
            <td><a href="/Kategori/KategoriGetir/@ktgr.KATEGORID" class=" btn btn-success">GÜNCELLE</a></td>
        </tr>
        }


    </tbody>

</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))

<a href="/Kategori/YeniKategori/" class="btn btn-primary">YENİ KATEGORİ EKLE</a>
@*KONTORLLER TARFINDA DEĞİŞİKLİK YApINCA TEKRARDAN EN BAŞTAN DERLEYİP ÇALIŞTIR YOKSA ÇELIŞMAZ*@