@{
    ViewBag.Title = "About";
}
<br />
<form  method="get">

    <fieldset>
      FİLM TÜRÜ SEÇİN: <select id="MovieType" name="MovieType" class="form-control">

    <option value="0"></option>
    <option value="1">Aksiyon</option>

    <option value="2">Drama</option>

    <option value="3">Komedi</option>

    <option value="4">Bilim Kurgu</option>
    <option value="5">Animasyon</option>
    <option value="6">Macera</option>
</select>

    </fieldset>

</form>